{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "quoteProps": "consistent",
  "trailingComma": "es5",
  "importOrder": [
    "^react",
    "^react-dom",
    "^@?\\w",
    "^@(components|hooks|pages|routes|services|styles|utils)/?(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["jsx", "typescript"],
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx", "*.json", "*.yml", "*.yaml", "*.md"],
      "options": {
        "tabWidth": 2,
        "singleAttributePerLine": true
      }
    }
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
